{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <form class="login" action="{{ path('app_reset_password', {'email': email, 'token': token}) }}" method="post">
        <h4>
            Please choose a new password.
        </h4>
        <label>
            New Password
            <input name="password" type="password">
        </label>
        <label>
            Repeat New Password
            <input name="confirmPassword" type="password">
        </label>
        <button type="submit">Reset</button>
    </form>

    {% include 'commons/messages.html.twig' %}

{% endblock %}
