{% extends 'base.html.twig' %}

{% block title %}Legal notice{% endblock %}

{% block body %}
    <div>
        <iframe scrolling="no" class="legal-content" src="./legal/content?p=legal.html"></iframe>
    </div>
{% endblock %}
