<form class="search" method="get" name="search" action="{{ path('app_blog_post_search') }}">
    <label for="search"></label>
    <input id="search" type="text" name="s" placeholder="Search">
    <button type="submit">Search</button>
</form>